.App {
  text-align: center;
}

body {
	margin: 0;
  padding: 0;
  background-image: url(./camera.png);
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: cover;

	color: white;
	font-family: 'Raleway';
	font-size: 20px;
}

#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgba(22, 22, 22, 0.5);
  color: white;
  z-index: 10;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: flex;
}

a:link {
  text-decoration: none;
}

.horizontal-scroll-wrapper{
  position:absolute;
  display:block;
  top:-15%;
  left:0;
  width:60%;
  max-height:70%;
  overflow-y:auto;
  overflow-x:scroll;
  transform:rotate(-90deg);
}
.horizontal-scroll-wrapper > div{
  display:block;
  padding:5px;
  transform:rotate(90deg);
}

.squares{
  padding: 10% 30% 10% 10%;
}

.squares > div{
  width:400px;
  height:400px;
}

.horizontal-scroll-wrapper{
  position:absolute;
  display:block;
  top:-35%;
  left:0;
  width:60%;
  max-height:70%;
  overflow-y:auto;
  overflow-x:scroll;
  transform:rotate(-90deg);
  z-index: -1;
}
.horizontal-scroll-wrapper > div{
  display:block;
  padding:5px;
  transform:rotate(90deg);
}

.squares{
  padding: 10% 30% 10% 10%;
}

.squares > div{
  width:400px;
  height:400px;
}

.linkw {
  text-decoration: underline;
  color: rgb(44, 43, 42);
}

.linkw:hover {
  text-decoration: underline;
  color: rgb(202, 202, 200);
}

.info {
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
}
  
.boxed {
  box-sizing: border-box;
  transform: translate(30%, 50%);
  background: rgba(40, 41, 41, 0.5);
  border: transparent;
  width: 60%;
  height: 270px;
  margin: center;
  margin-top: 25px;
  padding-top: 15px;
  padding-right: 15px;
  border-radius: 7px;
  text-align: left;
  font-size: 17px;
  color: #fff;
  top: -10%;
  left: 50%;
  display: block;
  overflow-y: scroll;
}

.rowC{display:flex; flex-direction:row;}

.shown {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.inner-container {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 50%);
  border: transparent;
  border-radius: 7px;
  width: 400px;
  height: 350px;
  background: rgba(22, 22, 22, 0.5);
  color: #fff;
  padding: 50px 30px;
}

.inner-container input {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px; 
  width: 100%;
  margin-bottom: 20px;
}

#home-top {
  padding-top: 110px;
  margin: 0px;
  position: center;
  font-family: 'Pattaya';
  font-size: 90px;
  text-shadow: 3px 3px rgb(85, 77, 77);
  color: #fff;
}

#home-middle {
  padding-top: 0px;
  margin: 0px;
  position: center;
  font-family: 'Raleway';
  font-size: 50px;
  text-shadow: 3px 3px rgb(85, 77, 77);
  color: #fff;
}

#home-bottom {
  padding-top: 0px;
  margin: 0px;
  position: center;
  font-family: 'Pattaya';
  font-size: 90px;
  text-shadow: 3px 3px rgb(85, 77, 77);
  color: #fff;
}

.evidence-form {
  margin-left: 30%;
}

/* .inline-block-child {
  display: inline-block;
} */

#btn {
  font-size: 15px;
  display: inline-block;
  border: 1px solid rgb(155, 152, 152);
  padding: 0 10px;
  border-radius: 7px;
  text-decoration: none;
  height: 25px;
  line-height: 5px;
  margin-top: 20px;
  margin-left: 25px;
  cursor: pointer;
  font-weight: 300;
  margin-top: 15px;
}

#btn:hover {
  border: 1px solid rgb(250, 247, 249);
  background-color: rgb(61, 52, 45);
  color: white;
}

.title {
  font-size: 60px;
  text-shadow: 3px 3px rgb(85, 77, 77);
  margin-bottom: 0px;
  padding-top: 10px;
}

#ul {
  margin-bottom: 2px;
}

.child1 {
  width: 400px;
  height: 450px;
  background-color: rgba(40, 41, 41, 0.5);
  margin-top: 70px;
  margin-left: 13%;
  color: white;
  padding: 30px;
  text-align: left;
}

.child2 {
  width: 400px;
  height: 450px;
  background-color: rgba(40, 41, 41, 0.5);
  margin-top: -510px;
  margin-left: 53%;
  color: white;
  padding: 30px;
  text-align: left;
}

.text {
  font-size: 60px;
  text-shadow: 3px 3px rgb(85, 77, 77);
  margin-bottom: 0px;
  margin-top: 2%;
  padding-top: 10px;
}

.evidence {
  text-align: center;
}